@import "~@fontsource/inter/400.css";
@import "~@fontsource/inter/500.css";
@import "~@fontsource/inter/700.css";
@import "~@fontsource/inter/800.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.video-embed > iframe {
  width: 100%;
  height: 100%;
}
